<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ArchitectureTree Demo</title>
        <meta name="description" content="If you like this visualization, check out the source at https://github.com/marmelab/ArchitectureTree and make your own!">
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/vendor/bootstrap.min.css" />
        <link rel="stylesheet" href="css/tree.css" />
    </head>
    <body>
        <div class="container-fluid">
            <div ng-app="ChartsApp">

                <h1 class="text-center">Architecture Tree</h1>

                <div ng-controller="filterCtrl">
                    <ng-include src="'js/angular.architectureTree/templates/filter.html'"></ng-include>
                </div>

                <div ng-controller="chartCtrl">
                    <tree-chart data="data" diameter="960"></tree-chart>
                </div>

                <div ng-controller="panelCtrl">
                    <div id="panel">
                        <div ng-if="detail">
                            <ng-include src="'js/angular.architectureTree/templates/panel-detail.html'"></ng-include>
                        </div>

                        <div ng-if="edit">
                            <ng-include src="'js/angular.architectureTree/templates/panel-edit.html'"></ng-include>
                        </div>
                    </div>
                </div>

                <div ng-controller="undoCtrl">
                    <div ng-if="hasHistory()" class="json-upate-label bg-success">Updated JSON <a ng-click="undo()">(undo)</a></div>
                </div>
                <div ng-controller="jsonDataCtrl">
                    <textarea id="json-data" class="form-control" ng-model="data" ng-blur="updateData()"></textarea>
                </div>
            </div>
        </div>
        <script src="js/vendor/d3.v3.js"></script>
        <script src="js/vendor/angular.min.js"></script>
        <script src="js/d3.architectureTree.js"></script>
        <script src="js/angular.architectureTree/app.js"></script>
        <script src="js/angular.architectureTree/controllers/chart.js"></script>
        <script src="js/angular.architectureTree/controllers/filter.js"></script>
        <script src="js/angular.architectureTree/controllers/json-data.js"></script>
        <script src="js/angular.architectureTree/controllers/panel.js"></script>
        <script src="js/angular.architectureTree/controllers/undo.js"></script>
        <script src="js/angular.architectureTree/directives/tree-chart.js"></script>
        <script src="js/angular.architectureTree/directives/init-focus.js"></script>
        <script src="js/angular.architectureTree/services/data.js"></script>
        <script src="js/angular.architectureTree/services/bus.js"></script>
    </body>
</html>
